 
.content-box {
  min-width: 1200px;
  margin: 0 auto;
  padding-bottom: 160px;
}

.head {
  font-size: 0.8vw;
  padding-top: 0.8vw;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}
.section-box{
  padding-top: 8.5vw;
}
.logo {
  width: 5vw;
	height: 2.5vw;
}

.logo img {
  width: 100%;
  height: 100%;
}

.head-ul {
  display: flex;
	height: 53px;
  align-items: center;
}

.head-li {
  margin: 0 30px;
}

.head-a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 10px;
}

.head-a.active {
  border-bottom: 2px solid #fff;
}

.footer-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #cccccc;
  text-align: center;
  padding: 20px 0;
  font-size: .8vw;
}

.footer-box-title-1 ul {
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
}

.footer-box-title-1 ul li a {
  letter-spacing: 0vw;
  color: #cccccc;
  /* font-size: .8vw; */
  text-decoration: none;
}
.section-box h3{
  font-size: 4vw!important;
  color: #fff;
  margin-bottom: 1vw!important;
}