<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./image/icon-logo.ico">
  <title>品牌入驻</title>
</head>
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/global.css">

<body>
  <div id="app">
    <div class="content-box">
      <header class="head">
        <a href="/index.html" class="logo">
          <img src="./image/logo.png" alt="">
        </a>
        <div>
          <ul class="head-ul">
            <li class="head-li" v-for="(item,index) in headList" :key="index">
              <a :href="item.url" class="head-a" :class="{'active' :item.flag}">{{item.val}}</a>
            </li>
          </ul>
        </div>
      </header>
      <section class="section-box">
        <h3>品牌入驻</h3>
        <p></p>
      </section>
      <div class="check-tab">
        <div class="left-box">
          <ul class="left-list">
            <li @click="qiehuan(index)" v-for="(item, index) in list" :key="index">
              <p class="left-icon " :class="index==activeIndex ? 'active' : '' ">{{item.val}}</p>
              <p class="icon " :class="index==activeIndex ? 'active-icon' : '' "></p>
            </li>
          </ul>
        </div>
        <div class="right-box">
          <ul>
            <li v-if="activeIndex==0">
              <p>【Fanr】只接受拥有商标注册证/Registered的厂商入驻。商标注册证/Registered处于注册信息变更受理阶段或处于转让受理阶段的，暂不接受入驻。直至商标局核准变更证明下发后才予以入驻。</p>
            </li>
            <li v-if="activeIndex==1">
              <p><b>一、总则</b> </p>
              <br>
              <p>1、<b>概述：</b>为了使商家提供优质的商品和服务，保障平台用户的合法权益，给广大平台用户创造一个良好的购物环境，维护Fanr平台正常的经营持续，特制定本项规章制度。 </p>
              <p>2、<b>适用范围：</b>所有与Fanr平台合作的公司企业、个体工商户和个人。</p>
              <p>
                3、<b>管理原则：</b>Fanr平台商家管理制度，是对入驻平台的商家增加的基本义务和规范商家基本权利的条款，商家应该遵守国家法律、行政法规、部门规章等规范性文件。对任何涉嫌违反国家法律、行政法规、部门规章等规范性文件的行为，本规定已经有规定
                的，适用本规则；本规定尚未规定的，Fanr平台有权酌情处理。</p>
              <p>
                4、<b>合作方式：</b>商家通过Fanr平台进行商品销售，商家需要依据Fanr平台的要求提交相关资料，提供售前售后服务。为更好的监管商家行为，当商家出现发货、售后、疑似售假等问题时，平台有权根据《Fanr商家违规处罚管理细则》进行处罚，情节严重者平台有权冻结商家销售货款。
              </p>
              <p>5、<b>行为认定：</b>对于有争议的部分，Fanr平台有权基于商家与用户的基本事实行为作出判定，并基于该事实，严格依据本条款的规定对违规行为进行相应处理。</p>
              <p><b>二、入驻资质要求</b></p>
              <p>
                1、在甲方平台销售的全部商品均应符合国家法律法规及相关产品标准的规定，并在入驻时向甲方提供与质量有关和市场销售相关证明文件（包括但不限于营业执照、生产许可证、卫生许可证、国家批准文号、经营许可证、商标注册证等），并保证向甲方提供的相关证件均真实、有效；
              </p>
              <p>需要提供以下资质及证明文件：</p>
              <p>1）经过年审的最新营业执照副本、组织机构代码证、税务登记证的复印件（或三证合一）、运营人身份证正反面复印件，复印件上需要加盖公章；</p>
              <p>2）需提供商标注册证；</p>
              <p>3）需提供的其他材料。</p>
              <ul class="showbox3-ul">
                <li>
                  <p style="border-top: 1px solid #333;font-weight: bold;">类目</p>
                  <p style="border-top: 1px solid #333;font-weight: bold;">需提供的材料</p>
                </li>
                <li>
                  <p>食品</p>
                  <p>《食品生产许可证》或《食品流通许可证》或《食品经营许可证》</p>
                </li>
                <li>
                  <p>保健食品膳食营养补充食品</p>
                  <p>《保健食品生产企业卫生许可证》或《进口保健食品批准证书》</p>
                </li>
                <li>
                  <p>彩妆香水美妆工具护肤美体精油洗护用品</p>
                  <p>《企业卫生许可证》或《化妆品生产许可证》</p>
                </li>
                <li>
                  <p>酒</p>
                  <p>《酒类产销许可证》或《酒类流通备案登记表》或《酒类零售许可证》或《酒类批发许可证》</p>
                </li>
                <li>
                  <p>读物教辅书籍杂志报纸音乐影视</p>
                  <p>《出版物经营许可证》</p>
                </li>
                <li>
                  <p>玩具童车基础建材美发护发电器</p>
                  <p>《国家3C产品认证》</p>
                </li>
              </ul>
              <p><b>三、商品信息管理要求</b></p>
              <p>1、商家必须保证商品详情内容真实、可靠，图片清晰(真实拍摄，不得从网上或第三方平台上盗图)，文字必须充分描述商品特性，不得出现故意欺瞒的内容。</p>
              <p>2、商家务必确保发布的信息真实、准确、合法，不侵犯任何第三方的合法权益。不得出现虚假信息或误导消费者的话语描述。</p>
              <p>3、商家在商品详情页面必须对商品属性和服务属性进行说明，商品属性可包括规格型号、尺寸、成份、含量、质量、包装、保修、保质期、产地、功能、用途等；服务属性可包括服务内容、服务时限、服务质量要求、有效的客服电话等。</p>
              <p>4、商家务必保证商品详情描述与售卖实物相一致(规格、大小、含量等)。</p>
              <p>5、商品发布促销活动时，文字描述应当真实、合法、清晰、易懂，不应使用含糊、易引起误解的语言、文字、图片，并在在促销描述中明确告知促销方式、促销期限、促销商品和服务的范围、附加性条件等促销规则；促销活动开始后在明示期限内不利于消费者的促销内容变更。</p>
              <p><b>四、商品管理要求</b></p>
              <p>1、商家保证商品不存在以下欺诈为：</p>
              <p class="text-intent">在商品中掺杂、掺假、以假充真、以次充好、以不合格商品冒充合格商品；</p>
              <p class="text-intent">销售国家明令淘汰的商品或者失效、变质的商品；</p>
              <p class="text-intent">伪造商品的产地，伪造或者冒用他人的厂名、厂址，伪造或者冒用认证标志、名优标志等质量标志；</p>
              <p class="text-intent">商品应当检验、检疫而未检验、检疫或者伪造检验、检疫结果；</p>
              <p class="text-intent">商家发现其提供的商品存在严重缺陷，即使正确使用仍然可能对人身、财产安全造成危害的，应当立即告知平台，并采取防止危害的措施。</p>
              <p>2、商家保证提供给甲方销售的商品均来源合法、真实，不违反相关法律、法规。</p>
              <p>3、商家在Fanr出售的所有商品，进行买赠活动时，赠品与售卖商品不同时，需要对赠品描述详情，赠品与描述不一致的，消费者有权提出赔偿。</p>
              <p>4、预包装食品外包装必须符合国家法律法规的基本要求，包含名称、规格、净含量、生产日期、成分或者配料表、生产者的名称、地址、联系方式、保质期、SC标准等。</p>
              <p>5、合作期间，商家在平台售卖的商品中不得出现任何引导用户至第三方渠道购买的营销宣传信息(包括包装盒和产品上的二维码信息和网址信息等)。</p>
              <p>6、如因乙方商品、发布的信息、提供的售后服务或其他问题而引起客户对甲方或第三方的诉讼、仲裁，乙方应承担因客户诉讼、仲裁而产生的全部法律责任，如因此而给甲方或第三方造成损失的，甲方有权要求乙方赔偿甲方及第三方的全部损失。</p>
              <p><b>五、发货管理要求</b></p>
              <p>1、平台所有商品发货时效原则为 48小时内发货，因不可抗力因素造成的订单发货延误，商家需在发货时效内提前填写《Fanr商家异常发货报备表》发送至邮箱，并在商品详情页进行公示说明，商家报备以邮件为准，不接受微信、电话口头形式的报备及事后报备（即产生客诉后再向平台说明）；报备同时商家需通过短信、电话等形式告知用户发货情况，以保证用户体验，避免客户投诉。</p>
              <p>2、商家发货过程中若出现漏发、错发等现象，应及时跟用户沟通道歉，并迅速采取相应补救措施，由此产生的费用由商家负责。商家在发货过程中出现漏发、错发等现象，需及时填写《Fanr商家异常发货报备表》发送至邮箱 。</p>
              <p>3、Fanr有权根据平台发货规则，对商家超时发货进行处理。</p>
              <p><b>“超时发货”</b>：生成订单在商品详情允诺时效内没有发货或录运单信息。</p>
              <p><b>“超时发货”</b>判断标准：若商家未在规定最迟发货时间内上传已付款订单对应的物流单号至Fanr后台，则此订单被判定为超时发货订单</p>
              <p>4、Fanr有权根据平台发货规则，对商家虚假发货进行处理。 </p>
              <p><b>“虚假发货”</b>：生成订单在商品详情允诺时效内没有发货或录运单信息。</p>
              <p><b>“虚假发货”</b>判断标准：商家上传商品的物流单号 6小时后，该运单号在物流公司官网没有物流信息，则此订单被判定为虚假发货订单。</p>
              <p><b>六、客户服务管理</b></p>
              <p>1、商家及其客服人员应在确认入驻平台同时，熟悉掌握平台提供的关于交易系统后台使用操作、在线客服系统操作及本管理制度条款内容，以保证按时按量交付订单商品及提供对应客户服务。客户服务包括但不限于客户通过在线客服、电话等服务渠道进行的商品咨询、订单咨询、售后问题等。</p>
              <p>2、商家应安排专业客服人员在每日9:00-21:00，通过平台提供的在线客服系统及商家自行提供的服务电话为消费者提供购买及售后咨询，工作时段内需确保在线及电话即时回复、接听状态，若订单量大导致客户购买及售后咨询量增加，商家需及时增加在线客服人员及电话接线，若工作时段内在线未及时响应客户超过10分钟，电话长期无人回复接听、占线而导致客诉，平台有权按《商家违规处罚条例》采取即时处罚。</p>
              <p>3、商家入驻时需确保正确安装平台在线客服系统并按平台要求进行系统设置（包括但不限于客服账号设置、名片设置、平台客服群组设置等）；在线客服系统版本升级平台将以邮件形式发至商家联系人邮箱并在商家群组公告，商家需在收到系统升级安装包后48小时内完成安装并上线使用，如有异常需即时向平台反馈，如因未及时安装影响前端客户功能使用，平台将依据《商家违规处罚条例》进行追责。平台将在商家使用在线客服系统过程中，对商家客服情况进行考核（包括但不限于系统设置合规性、客服工作时间、响应效率等），考核如不符合平台要求，平台有权要求商家限期改善，如影响日常客户服务，平台将追责。</p>
              <p>4、商家需在消费者提交退款申请、售后申请后24小时内，在交易系统后台有效处理结束退款及售后工单。</p>
              <p>5、平台通过在线客服群组、微信、电话等渠道转交至商家的售后，当天 18点前转交的，需当天处理完毕并回复平台处理结果，当天18点后转交的，需在次日12点前处理完毕并回复平台处理结果，若超过处理时效未反馈，平台有权依据实际情况认定为“商家售后未及时处理”并根据《商家违规处罚条例》采取即时处罚。商家处理结果应包含对该问题的说明以及最终明确的处理方案，不得出现“正在查询/正在沟通”等无实质解决方案的回复。</p>
              <p>6、商家在处理客户售后过程中，可参照《Fanr平台商家售后处理规范》，基于事实基础的情况下，以用户体验优先、保障用户合法权益，合理售后。</p>
            </li>
            <li v-if="activeIndex==2">
              <p>厂商注册须知</p>
              <br>
              <p>重要提示</p>
              <br>
              <p>【Fanr】只接受拥有商标注册证/Registered的厂商入驻。商标注册证/Registered处于注册信息变更受理阶段或处于转让受理阶段的，暂不接受入驻。直至商标局核准变更证明下发后才予以入驻。</p>
              <br>
              <p>厂商入驻流程</p>
              <br>
              <p>1阅读须知，准备相关资料。</p>
              <p>2注册，填写入驻信息，并提交相应的资质。</p>
              <p>3资质审核，并尽快反馈审核结果。</p>
              <p>4合同签署。</p>
            </li>
            <li v-if="activeIndex==3">
              <p>资费标准</p>
              <br>
              <p>1、甲乙双方约定的结算方式为实时结算。</p>
              <p>2、
                商品价格组成：零售价=厂商价+分享佣金+平台佣金。分享佣金是消费者试用后将该商品分享给其他用户的计提费用，分享佣金的多少由厂商自由决定。平台佣金是每笔交易成功后平台的计提费用，平台佣金占每笔交易零售额（不包括运费）的5%。
              </p>
              <p>
                3、交易成功：消费者确认收货且作出评价。确认收货是指用户收到商品以后主动确认收货或待收货状态7天未发生售后行为则系统自动确认收货。作出评价是指用户确认收货后，对乙方商品以及服务做出的好评、中评以及差评。确认收货30天后未作出评价的，系统默认好评。
              </p>
              <p>4、资金结算</p>
              <p>消费者在厂商店铺购买，确认收货且作出好评后，甲方将厂商价、分享佣金打入乙方的账户，将平台佣金打入甲方账户。</p>
              <p>消费者无论在厂商店铺还是在消费商虚拟店铺购买，确认收货且作出中评或者差评后，甲方将厂商价打入乙方账户、平台佣金打入甲方账户，将分享佣金打入甲方用于公益事业的专用账户。</p>
              <p>5、发票</p>
              <p>厂商在给消费者开具的发票中，消费商计提税金由商家承担。</p>
              <p>甲方按照乙方要求，提供已确认账单的佣金发票。乙方需要开具发票时，应及时提交开票资料至甲方，甲方在收到乙方正确的开票资料后的 15个工作日内开具发票给乙方，乙方申请开具发票的抬头必须与合同主体一致。</p>
              <p>6、其它结算约定</p>
              <p>6.1甲乙双方进行结算货款时，甲方有权扣除下列款项：</p>
              <p>1）甲方根据合同约定收取的佣金金额；</p>
              <p>2）乙方因违反约定而应当支付的违约金、损害赔偿金；</p>
              <p>3）甲方发现商品存在缺陷，有危及人身、财产安全危险，并根据法律规定采取停止销售、召回、无害化处理或销毁等处理措施的，缺陷商品的相应价款以及因此所产生的销售损失、召回费用、处理费用、销毁费用；</p>
              <p>4）由于乙方过错导致消费者向甲方提出投诉、索赔，事项完结前，甲方有权停止向乙方支付款项。待双方约定一致后，甲方再将应付款项支付给乙方；</p>
              <p>5）符合约定的其它款项。</p>
              <p>6.2甲方因检验商品所造成的商品损失应当由乙方承担。因商品质量争议，一方或双方根 据约定提请第三方检测单位对商品进行检测，检测结果显示商品有质量问题的，第三 方检测费用用由乙方承担。</p>
              <p>6.3对账方式：甲乙双方通过甲方的平台对账系统进行货款核对，乙方认可该对账系统数据的有效性和可靠性。</p>
              <p>6.4对甲乙双方签订的合同、协议、确认函件中所列费用及乙方因违反相关条款所产生的违约金，甲方有权选择在乙方货款中直接扣除。</p>
              <p>6.5乙方对与甲方之间发生的任何款项（包括但不限于货款、费用、违约金等）有异议的，应自扣款之日起 5天内以书面形式向甲方提出异议，逾期没有提出任何异议的,即视为接受该扣款。</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <footer class="footer-box">
      <div class="footer-box-title-1">
        <ul>
          <li v-for="(item,index) in footerList" :key="index">
            <a :href="item.url" :target="item.type">{{item.val}}</a>
            <span v-if="index != footerList.length-1">｜</span>
          </li>
        </ul>
      </div>
      <div class="footer-box-title-2">
        <p>Cpoyright© 2019 Fanr.clubAll Rights Reserved  <a href="http://beian.miit.gov.cn/">备案号：苏ICP备18055127号</a>
          苏网文[2019]3829-133号</p>
      </div>
    </footer>
  </div>
</body>
<script src="./js/jq.js"></script>
<script src="./js/vue.js"></script>
<script>
  let app = new Vue({
    el: '#app',
    data: {
      msg: '首页',
      activeIndex: 0,
      headList: [{
          val: '首页',
          url: '/index.html',
        },
        {
          val: '品牌入驻',
          url: './join_new.html',
          flag: true
        },
        {
          val: 'Fanr体验师',
          url: './agreement.html?id=2'
        },
        {
          val: '资讯中心',
          url: './news.html'
        },
        {
          val: '关于我们',
          url: './agreement.html?id=1'
        },
      ],
      footerList: [{
          val: '注册协议',
          url: './agreement.html?id=4',
          type: ''
        },
        {
          val: '隐私政策',
          url: './agreement.html?id=5',
          type: ''
        },
        {
          val: '社区规范',
          url: './agreement.html?id=6',
          type: ''
        },
        {
          val: '账号找回',
          url: './agreement.html?id=7',
          type: ''
        },
        {
          val: '联系我们',
          url: './agreement.html?id=8',
          type: ''
        },
        {
          val: '厂商登录',
          url: 'http://shangjia.fanr.club/',
          type: '_blank'
        },
      ],
      list: [{
          val: '招商方向',
          id: '1'
        },
        {
          val: '招商标准',
          id: '2'
        },
        {
          val: '资质要求',
          id: '3'
        },
        {
          val: '资质标准',
          id: '4'
        },
      ]

    },
    methods: {
      show(type) {
        if (type == 1) {
          $('#showbox1').slideToggle();
          $('#showbox2').hide();
          $('#showbox3').hide();

        } else if (type == 2) {
          $('#showbox3').slideToggle();
          $('#showbox1').hide();
          $('#showbox2').hide();
        } else {
          $('#showbox2').slideToggle();
          $('#showbox1').hide();
          $('#showbox3').hide();
        }
      },
      qiehuan(id) {
        this.activeIndex = id;

      }
    },
    mounted() {

    }

  })
</script>
<style>
  #app {
    /* width: 100vw; */
    min-width: 1200px;
    height: 100%;
    background: url(./image/join.png)no-repeat top;
  }

  .head {
    margin-bottom: 100px;
  }

  .footer-box {
    background-color: #2e2f32;
  }

  .section-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
  }

  .section-box h3 {
    text-align: center;
    font-weight: normal;
    font-stretch: normal;
    width: 100%;
    font-size: 64px;
    color: #fff;
    margin-bottom: 32px;
  }

  .section-box p {
    width: 160px;
    height: 2px;
    background: #fff;
  }


  .check-tab {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .check-tab .left-box {
    width: 12vw;
    margin-right: 4vw;
    flex: 1;
  }

  .left-list li {
    position: relative;
    margin-bottom: 1vw;
  }

  .right-box {
    flex: 7;
  }

  .right-box p {
    line-height: 1.7;
  }

  .left-box .left-icon {
    position: relative;
    height: 3vw;
    line-height: 3vw;
    padding-left: 1vw;
    background: #edecfb;
    color: #003666;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
  }

  .icon {
    width: 0;
    height: 0;
    border-top: 1.5vw solid transparent;
    border-bottom: 1.5vw solid transparent;
    border-left: 1.5vw solid #edecfb;
    position: absolute;
    top: 0;
    right: -1.5vw;
    border-radius: 0px;
  }

  .active {
    background: #fe6800 !important;
    color: #fff !important;
  }

  .active-icon {
    border-left: 1.5vw solid #fe6800 !important;

  }

  .showbox3-ul {
    width: 60%;
    padding: 15px 0;
  }

  .showbox3-ul li {
    display: flex;

  }

  .showbox3-ul li p {
    padding: 10px;
    border: 1px solid #333333;
    border-top: 0;
    flex: 1;
  }

  .showbox3-ul li p:first-of-type {
    border-right: 0;
  }
</style>

</html>